################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WpfNumericControl
/DouZhou.WpfNumericControl/.vs
/DouZhou.WpfNumericControl/bin
/DouZhou.WpfNumericControl/obj
